body{
    background-image: url("../img/escheresque_ste.png");


}
.dws-menu{
    margin-top: 100px;
    width: 100%;
}
li.dws-li a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}













